

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #e4d386;
	display: inline-block;
	
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #ffffff;
	color:#D4AF37;
	display: inline-block;
	    font-weight: 800;
    font-size: 50px;
}

.smalltext{
	    padding-top: 5px;
    font-size: 22px;
    width: 110px;
	font-weight: 600;
}